@model ResultViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<head>
    <title>Analysis Result(Upload Text)</title>
</head>
<body>
<div>
    <h1>Analysis Result(Upload Text)</h1>
    <p>
        @Model.Message
    </p>
</div>
</body>
